In [ ]:
print("hi")

In [ ]:
import json
 
data = {"name": "Alice", "age": 25, "city": "New York"}
s = json.dumps(data)
print(s)
print("JSON data:", s)

In [ ]:
print("hi again")

In [10]:
import numpy as np

In [4]:
import pandas as pd

In [ ]:
arrya = np.arange(12)
print("array:", arrya)
reshaped = arrya.reshape([3, 4])
print("reshaped array:", reshaped)

print("reshaped array:", reshaped[2]) #print row
print("reshaped array:", reshaped[:, 2]) #print column

In [8]:
data = {"Name": ["mayank", "Ram", "Sita", "Gita", ], "Age":[23, 34, 29, 40], "City": ["New York", "Los Angeles", "Chicago", "Houston"], "salary":[500, 400, 700, 800]}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

print(df["Name"])

DataFrame:
      Name  Age         City  salary
0  mayank   23     New York     500
1     Ram   34  Los Angeles     400
2    Sita   29      Chicago     700
3    Gita   40      Houston     800
0    mayank
1       Ram
2      Sita
3      Gita
Name: Name, dtype: object