In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah'],  
    'Age': [24, 27, 22, 32, 29, 31, 26, 28],  
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego'], 
    'Score': [85.5, 90.0, 78.5, 88.0, 92.5, 80.0, 87.5, 91.0]
    }
df = pd.DataFrame(data)
filtered = df[(df['Age']> 20) & (df['Score']>90)]
print(filtered)

     Name  Age       City  Score
4     Eve   29    Phoenix   92.5
7  Hannah   28  San Diego   91.0

In [13]:
duplicate_data = {
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Laptop', 'Monitor', 'Webcam', 'Keyboard', 'Mouse'],
    'OrderID': [101, 102, 103, 101, 104, 105, 103, 106],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Electronics', 'Accessories', 'Accessories', 'Accessories'],
    'Price': [1200, 25, 75, 1200, 300, 50, 75, 25]
}
df_dups = pd.concat([df, df.iloc[[0]]], ignore_index=True)
print(df_dups.duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
dtype: bool

In [3]:
# and filtered condition 
df = pd.DataFrame(data)
filtered = df[(df['Age']> 20) & (df['Score']>90)]
print(filtered)

     Name  Age       City  Score
4     Eve   29    Phoenix   92.5
7  Hannah   28  San Diego   91.0

In [4]:
#or filtered condition
df = pd.DataFrame(data)
filtered_or = df[(df['Age']>25) | (df['Score']>90)]
print(filtered_or)

     Name  Age          City  Score
1     Bob   27   Los Angeles   90.0
3   David   32       Houston   88.0
4     Eve   29       Phoenix   92.5
5   Frank   31  Philadelphia   80.0
6   Grace   26   San Antonio   87.5
7  Hannah   28     San Diego   91.0

In [5]:
df.insert(2, "DOB", [10/5/1999 , 8/12/1996, 3/15/2001, 7/22/1989, 11/30/1992, 4/18/1990, 9/9/1997, 2/25/1995])
print(df)

      Name  Age       DOB          City  Score
0    Alice   24  0.001001      New York   85.5
1      Bob   27  0.000334   Los Angeles   90.0
2  Charlie   22  0.000100       Chicago   78.5
3    David   32  0.000160       Houston   88.0
4      Eve   29  0.000184       Phoenix   92.5
5    Frank   31  0.000112  Philadelphia   80.0
6    Grace   26  0.000501   San Antonio   87.5
7   Hannah   28  0.000040     San Diego   91.0

In [6]:
print(df)

      Name  Age       DOB          City  Score
0    Alice   24  0.001001      New York   85.5
1      Bob   27  0.000334   Los Angeles   90.0
2  Charlie   22  0.000100       Chicago   78.5
3    David   32  0.000160       Houston   88.0
4      Eve   29  0.000184       Phoenix   92.5
5    Frank   31  0.000112  Philadelphia   80.0
6    Grace   26  0.000501   San Antonio   87.5
7   Hannah   28  0.000040     San Diego   91.0

In [7]:
 #.loc[] are used to upadte the data
#.loc[] are used to update the data
#df.loc[row_index, 'column_name'] = new_value
df.loc[0, 'Age'] = 30
print(df)

      Name  Age       DOB          City  Score
0    Alice   30  0.001001      New York   85.5
1      Bob   27  0.000334   Los Angeles   90.0
2  Charlie   22  0.000100       Chicago   78.5
3    David   32  0.000160       Houston   88.0
4      Eve   29  0.000184       Phoenix   92.5
5    Frank   31  0.000112  Philadelphia   80.0
6    Grace   26  0.000501   San Antonio   87.5
7   Hannah   28  0.000040     San Diego   91.0

In [8]:
#updating whole column
df['Score']= df['Score'] *.7
print(df)

      Name  Age       DOB          City  Score
0    Alice   30  0.001001      New York  59.85
1      Bob   27  0.000334   Los Angeles  63.00
2  Charlie   22  0.000100       Chicago  54.95
3    David   32  0.000160       Houston  61.60
4      Eve   29  0.000184       Phoenix  64.75
5    Frank   31  0.000112  Philadelphia  56.00
6    Grace   26  0.000501   San Antonio  61.25
7   Hannah   28  0.000040     San Diego  63.70

In [9]:
#removing columns 
#df.drop(columns = "column_name", inplace = true(if its  false it will return new dataframe without modifying the old one))
#df.drop(columns = 'DOB', inplace = True)
df.drop(columns = ['DOB','Age'], inplace = True)
print(df)

      Name          City  Score
0    Alice      New York  59.85
1      Bob   Los Angeles  63.00
2  Charlie       Chicago  54.95
3    David       Houston  61.60
4      Eve       Phoenix  64.75
5    Frank  Philadelphia  56.00
6    Grace   San Antonio  61.25
7   Hannah     San Diego  63.70

In [10]:
scliced_iloc = df.iloc[1:3, 0:2]
print(scliced_iloc)

      Name         City
1      Bob  Los Angeles
2  Charlie      Chicago

In [11]:
missing_data = {
}