In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
missing_data = { 
                'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah'],  
    'Age': [np.nan, 27, 22, np.nan, 29, 31, np.nan, 28],  
    'City': [np.nan, 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego'], 
    'Score': [85.5, 90.0, np.nan, 88.0, np.nan, 80.0, 87.5, np.nan]
}
df = pd.DataFrame(missing_data)

In [ ]:
print(df.isnull())

In [ ]:
df_dropped = df.dropna()
print(df_dropped)

In [6]:
fill_age = df['Age'].mean()
df_fill = df.fillna(value={'Age': fill_age, 'Score':10})# understandable 
print(df_fill)

      Name   Age          City  Score
0    Alice  27.4           NaN   85.5
1      Bob  27.0   Los Angeles   90.0
2  Charlie  22.0       Chicago   10.0
3    David  27.4       Houston   88.0
4      Eve  29.0       Phoenix   10.0
5    Frank  31.0  Philadelphia   80.0
6    Grace  27.4   San Antonio   87.5
7   Hannah  28.0     San Diego   10.0

In [15]:

duplicate_data = {
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Laptop', 'Monitor', 'Webcam', 'Keyboard', 'Mouse'],
    'OrderID': [101, 102, 103, 101, 104, 105, 103, 106],
    'Category': ['Electronics', 'Accessories', 'Accessories', 'Electronics', 'Electronics', 'Accessories', 'Accessories', 'Accessories'],
    'Price': [1200, 25, 75, 1200, 300, 50, 75, 25]
}
df_dups = pd.DataFrame(duplicate_data)
print(df_dups.duplicated())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
dtype: bool

In [16]:
df_no_dups = df_dups.drop_duplicates()
print(df_no_dups)

    Product  OrderID     Category  Price
0    Laptop      101  Electronics   1200
1     Mouse      102  Accessories     25
2  Keyboard      103  Accessories     75
4   Monitor      104  Electronics    300
5    Webcam      105  Accessories     50
7     Mouse      106  Accessories     25